## 1.  Demo for GraphFlow

In [ ]:
from graphflow import GraphFlow

In [ ]:
#Demo 1 generate a GraphFlow object use import_GF
gf = GraphFlow.import_GF()

import pandas as pd
pd.set_option('display.max_columns', 50)

gf.describe()
gf.draw_network_attr(with_pos = True)

In [ ]:
# Demo 2 one can use sub_graph_flow to generate sub_graph_flow
# bug 03/11/07,11/4/07,03/09/08,11/02/08 can not be between start_time and end_time
sub_nodes = ['HNL','LAS','LAX','OGG']
sub_gf=gf.sub_graph_flow(start_time = '2007-02-01 01:00:00',end_time = '2007-03-01 01:00:00',sub_nodes = sub_nodes )

In [ ]:
sub_gf.describe()
sub_gf.draw_network_attr(with_pos = False)

In [ ]:
# Demo 3 if sub_nodes is none,edges is None,then choose all_nodes,. 
# bug 03/11/07,11/4/07,03/09/08,11/02/08 can not be between start_time and end_time
sub_gf=gf.sub_graph_flow('2007-02-01 01:00:00','2007-03-01 01:00:00')
sub_gf.describe()
sub_gf.draw_network_attr(with_pos = True)

In [ ]:
# Demo 4 if sub_nodes is none,edges aregiven, then generate a subGraphFLow with edges given. ~ 3 min
# bug 03/11/07,11/4/07,03/09/08,11/02/08 can not be between start_time and end_time
sub_gf = gf.sub_graph_flow('2007-02-01 01:00:00','2007-03-01 01:00:00',
                           edges =  (set(gf.G.out_edges('LAX'))|set(gf.G.in_edges('LAX'))))
sub_gf.describe()
sub_gf.draw_network_attr(with_pos = True)

In [ ]:
# demo for model_evaluation

from graphflow import test_index_gen,model_evaluation
import numpy as np

test_date_index,test_airport_index = test_index_gen()

# sample input 
pred_data = np.random.random((len(test_date_index),len(test_airport_index)))

# evluate the prediction
model_evaluation(pred_data, test_date_index, test_airport_index)

## 2 Demo for StaticModel

In [1]:
from graphflow import StaticModel
from graphflow import GraphFlow

Using TensorFlow backend.

In [2]:
# generate a graphflow object as input of StaticModel

gf = GraphFlow.import_GF()
# so far edges has to be symetric otherwise will raise error
sub_gf = gf.sub_graph_flow(edges = [('LAX','ATL'),('ATL','LAX')])

In [3]:
# initialize a StaticModel
sm = StaticModel(sub_gf)
sm.describe()

dt : 1:00:00
start time: 2007-01-01 00:00:00-08:00
end time: 2008-12-30 00:00:00-08:00
All data frame has shape: (17497, 2)
head of RealArrTotalFlights:

                           ATL  LAX
2007-01-01 00:00:00-08:00    0    1
2007-01-01 01:00:00-08:00    0    0
2007-01-01 02:00:00-08:00    0    0

head of pre_data:

,AbsCRSDepTime,AbsCRSArrTime,ArrDelay,DepDelay,Origin,Dest,ActualElapsedTime,FlightNum,TailNum,UniqueCarrier,...,DepTime,CRSDepTime,ArrTime,CRSArrTime,CRSElapsedTime,Cancelled,CancellationCode,AbsDepTime,AbsArrTime,PreAbsArrTime
index,,,,,,,,,,,,,,,,,,,,,
310655,2007-01-18 04:45:00-08:00,2007-01-18 09:45:00-08:00,2.0,3.0,ATL,LAX,299.0,110.0,N124DE,DL,...,748.0,745.0,947.0,945.0,300.0,0.0,NaN,2007-01-18 04:48:00-08:00,2007-01-18 09:47:00-08:00,2007-01-17 02:46:00-08:00
310657,2007-01-18 13:40:00-08:00,2007-01-18 17:53:00-08:00,75.0,96.0,LAX,ATL,232.0,152.0,N862DA,DL,...,1516.0,1340.0,2208.0,2053.0,253.0,0.0,NaN,2007-01-18 15:16:00-08:00,2007-01-18 19:08:00-08:00,2007-01-18 14:00:00-08:00
310658,2007-01-18 07:30:00-08:00,2007-01-18 12:30:00-08:00,90.0,25.0,ATL,LAX,365.0,189.0,N862DA,DL,...,1055.0,1030.0,1400.0,1230.0,300.0,0.0,NaN,2007-01-18 07:55:00-08:00,2007-01-18 14:00:00-08:00,2007-01-16 17:54:00-08:00

'time sig of fold 1: '

['month',
 'day',
 'hour',
 'minute',
 'dayofweek',
 'quarter',
 'is_month_start',
 'is_month_end',
 'is_quarter_start',
 'is_quarter_end']

'airport sig of fold 2: '

['weight', 'Distance']

'delay_reasons : '

['CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'DepDelay',
 'ArrDelay']

'layout for sigs: '

[10, 10, 1, 1, 1, 2, 7, 2]

'models considered: '

NN_model    <bound method StaticModel.NN_model of <class '...
LR_model    <bound method StaticModel.LR_model of <class '...
DT_model    <function StaticModel.DT_model at 0x0000015FA1...
dtype: object

'sig combinition considered: '

129    [True, False, False, False, False, False, Fals...
192    [False, False, False, False, False, False, Tru...
dtype: object

In [4]:
# try to use a faster model for fitting. 
# warning: Do not run this if testing all models in sm.models
sm.models = sm. models[['DT_model']]

# fit StaticModel using for data in edges
edges = [('LAX', 'ATL')]
sm.fit(edges)

total time:  1.9922332763671875

,129,130,131,132,133,134,135,136,137,138,...,183,184,185,186,187,188,189,190,191,192
DT_model,0.713797,0.693599,0.70665,0.7688,0.724363,0.721255,0.719391,0.778123,0.709758,0.695774,...,0.717837,0.778123,0.712554,0.690802,0.708204,0.7688,0.72747,0.719702,0.713487,1.0